.roomsHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;margin: 20px 0;
}

.left{
   display: flex;
   align-items: center;
}


.heading{
    font-size: 20px;
    font-weight: bold;
}

.searchBox{
    background: #262626;
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    min-width: 300px;
    border-radius: 20px;
}
.searchInput{
    background: transparent;
    border:transparent;
    outline: none;
    padding: 10px;
    color: white;
    width: 100%;
}

.heading {
    position: relative;
}

.heading::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 60%;
    height: 4px;
    background: #0077ff;
}
.startButton{
    display: flex;
    align-items: center;
    background: #20bd5f;
    padding: 5px 20px; 
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}
.startButton span{
    font-size: 16px;
    margin-left: 10px;
    color: white;
}
.startButton:hover{
    background: #0d7738;
}

.roomList{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
